@media (min-width: 600px) {
  .card {
    width: 45%;
  }
  .post-info {
    grid-area: 2/1/4/2;
    border-right: solid 1px darkcyan;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(2em, auto);
  }
  .post-body {
    grid-area: 2/2/4/5;
    padding: 10px;
  }

  .post-image {
    width: 40%;
    float: right;
    margin: 10px;
  }
}
